.home-section {
    display: block;
    width: 100%;
    height: 100%    ;
  }
  @media screen and (max-width: 768px) {
    .home-section {
      display: block;
      width: 100vh;
      height: 100%;
    }
    .logo-image{
      width: 500px !important;
      height: 300px !important;
    }
  
  }